.header{
  height: 8vh;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.connexion{
  cursor: pointer;
  color: #0070f3;
}

.intro{
  display:flex;
  justify-content: center;
  align-items: center;
}

.intro h1{
  margin-top: 14px;
}

.intro span{
  font-weight: 600;
}

.line{
  display: inline-block;
  border-left: 3px solid #0070f3;
  border-radius: 25px;
  margin: 15px 10px 10px 10px;
  height: 25px;
}

.mapContainer{
  height: 92vh;
  display: flex;
  flex: 1;
  }
  
  .mapContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    background-color: #fff;
    padding: 40px 20px;
    width: 300px;
  }
  
  .legalMention{
    color: #bdc0c7;
    line-height: 18px;
    text-align: left;
    margin: 0;
  }
  
  .mapSteps{
    padding-top: 50px;
    box-sizing: border-box;
  }
  
  .step{
    padding: 3px 7px;
    margin: 10px;
    display: flex;
    align-items: center;
    position:relative;
  }
  

  .stepLine{
    position: absolute;
    display: inline-block;
    border-left: 5px solid #0070f3;
    border-radius: 20px;
    margin: 0 10px;
    height: 80%;
    left: -20px;
  }

  .stepLineShaded{
    position: absolute;
    display: inline-block;
    border-left: 5px solid #bdc0c7;
    border-radius: 20px;
    margin: 0 10px;
    height: 80%;
    left: -20px;
  }

  .stepShaded{
    color: #bdc0c7;
    padding: 3px 7px;
    margin: 10px;
    display: flex;
    align-items: center;
    position:relative;
  }

  .stepShaded h4{
    margin: 2px;
  }

  .step h4{
    margin: 2px;
  }
  
  .step p{
    margin: 2px;
  }
  
  .tree{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9ff;
    width: 100%;
  }

  .retourBtn{
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0px;
    left: 20px;
  }
  
  .retourBtn p{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 5px;
  }

  .continue{
    font-weight: bold;
    bottom: 10vh;
    position: absolute;
    margin-top: 12vh;
    cursor: pointer;
    border: none;
    background: linear-gradient(86deg,#0070f3 23%,#0064da 75%,#0059c2 110%);
    min-width: 200px;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 3px 6px  #00000029;
    height: 48px;
    padding: 0 24px;
    font-size: 18px;
    transition: 0.5s;
  }
  
  .continue:hover{
    bottom: 10vh;
    position: absolute;
    margin-top: 12vh;
    cursor: pointer;
    border: none;
    background: linear-gradient(86deg,#0070f3 23%,#0064da 75%,#0059c2 110%);
    min-width: 200px;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 3px 40px #00000029;
    height: 48px;
    padding: 0 24px;
    font-size: 18px;
    font-weight: bold;
  }

@media screen and (max-width: 990px){
  .header{
    height: 8vh;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
  }
  
  .connexion{
    cursor: pointer;
    color: #0070f3;
  }
  
  .intro{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .intro h1{
    margin-top: 14px;
  }
  
  .intro span{
    font-weight: 600;
  }

  .displayNone{
    display: none;
  }
  
  .line{
    display: inline-block;
    border-left: 3px solid #0070f3;
    border-radius: 25px;
    margin: 15px 10px 10px 10px;
    height: 25px;
  }
  
  .mapContainer{
    height: 92vh;
    display: flex;
    flex: 1;
    }
    
    .mapContent{
    display:none
    }
    
    .legalMention{
      color: #bdc0c7;
      line-height: 18px;
      text-align: left;
      margin: 0;
    }
    
    .mapSteps{
      padding-top: 50px;
      box-sizing: border-box;
    }
    
    .step{
      padding: 3px 7px;
      margin: 10px;
      display: flex;
      align-items: center;
      position:relative;
    }
    
  
    .stepLine{
      position: absolute;
      display: inline-block;
      border-left: 5px solid #0070f3;
      border-radius: 20px;
      margin: 0 10px;
      height: 80%;
      left: -20px;
    }
  
    .stepLineShaded{
      position: absolute;
      display: inline-block;
      border-left: 5px solid #bdc0c7;
      border-radius: 20px;
      margin: 0 10px;
      height: 80%;
      left: -20px;
    }
  
    .stepShaded{
      color: #bdc0c7;
      padding: 3px 7px;
      margin: 10px;
      display: flex;
      align-items: center;
      position:relative;
    }
  
    .stepShaded h4{
      margin: 2px;
    }
  
    .step h4{
      margin: 2px;
    }
    
    .step p{
      margin: 2px;
    }
    
    .tree{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f7f9ff;
      width: 100%;
    }
  
    .retourBtn{
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      top: 0px;
      left: 20px;
    }
    
    .retourBtn p{
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      margin-left: 5px;
    }
  
    .continue{
      bottom: 10vh;
      position: absolute;
      margin-top: 12vh;
      cursor: pointer;
      border: none;
      background: linear-gradient(86deg,#0070f3 23%,#0064da 75%,#0059c2 110%);
      min-width: 120px;
      border-radius: 35px;
      color: #fff;
      box-shadow: 0 3px 6px  #00000029;
      height: 40px;
      padding: 0 24px;
      font-size: 16px;
      transition: 0.5s;
      font-weight: bold;
    }
    
    .continue:hover{
      bottom: 10vh;
      position: absolute;
      margin-top: 12vh;
      cursor: pointer;
      border: none;
      background: linear-gradient(86deg,#0070f3 23%,#0064da 75%,#0059c2 110%);
      min-width: 120px;
      border-radius: 35px;
      color: #fff;
      box-shadow: 0 3px 40px #00000029;
      height: 40px;
      padding: 0 24px;
      font-size: 16px;
      font-weight: bold;
    }
    .retourBtn p{
      color: transparent;
    }
}
  